body {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    max-width: 800px;
    margin: auto;
}

.container {
    overflow-wrap: break-word;

    height: 100vh;
    
    display: grid;
    grid-template-rows: 40px 1fr auto;
    grid-template-columns: auto;
}

.footer {
    background-color: lightgrey;
    text-align: center;
    
    padding: 10px;
}