.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;

    display: flex;
    align-items: center;
}

.header-controls {
    display: flex;
    align-items: center;
}

.search-form {
    position: relative;
}

.search-form__input {
    padding: 0;
}

.search-form__results-list {
    display: none;
    position: absolute;
    margin-top: 0;
    /* additional 16 would from default input element borders,
    and there is 12 instead of 16 from my ul element borders */
    min-width: 212px;
    max-height: 8rem;
    background-color: beige;
    border: 2px solid darkgrey;
    overflow-y: auto;
    padding-left: 0;
}

.search-form__results-list__item {
    list-style: none;
    border-bottom: 1px solid grey;
}

.search-form__results-list__item__link {
    display: block;
}

.search-form__results-list__item__link:hover {
    background-color: lightgrey;
}

.rss-container {
    margin-left: 50px;
    
    display: flex;
    align-items: center;
}

.rss-label {
    font-size: initial;
}

.rss-icon {
    max-width: 24px;
    max-height: 24px;
    margin-left: 5px;
}